@font-face {
    font-family: "grover";
    src: url(grover/Irish_Grover/IrishGrover-Regular.ttf);
  }

  .logo_navbar{
    width: 50px;
  }

  .tag_navbar {
    background-color: #87C4FF;
  }

  .teks_logo {
    font-family: "grover";
    font-size: 1.875rem; /* 30px */
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    position: relative;
    color: rgb(255, 255, 255);
  }

  .container_search{
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .col_search{
    background-color: #BFEA7C;
    color: #000000;
  }
 .col_search:hover{
  transform: scale(1.1);
  transition: 0.2s ease;
  background-color: #abd36c;
  color: #ffffff;
 }

  .icon{
    width: 30px;
  }
  .icon:hover{
    transform: scale(1.3);
    transition: 0.2s ease;
    color: #87C4FF;
    background-color: #BFEA7C;
    border-radius: 15px;
    
}

.list_5 {
    width: 200px;
}

.img_title{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(192, 190, 190);

}
.star-rating {
    color: #ffd000;
}
select option:first-child {
    display: none;
}

.card:hover{
    border: 2px #87C4FF solid;
}

@media (max-width: 365px) {
    .list_5 {
      display: none;

    }
    .d-flex {
      flex-direction: column;
    }
  }

