@font-face {
    font-family: "grover";
    src: url(grover/Irish_Grover/IrishGrover-Regular.ttf);
  }
  
  .tag_navbar {
    background-color: #87C4FF;
  }
  .teks_item .nav-link{
    text-shadow: 2px 4px 5px #000000;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    
  }
  
  .logo_navbar {
    width: 50px;
  }
  
  .teks_logo {
    font-family: "grover";
    font-size: 1.875rem; /* 30px */
    text-shadow: 5px 5px 5px black;
    position: relative;
  }
  
  /* Header */
  .home {
    background-color: #074173;
    height: 650px;
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
  }
  
  .home .heading {
    color: #BFEA7C;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 80px;
  }
  
  .home .subheading {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .btn-search{
    background-color: #BFEA7C;
    color: #000000;
  }
  .btn-search:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    background-color: #abd36c;
    color: #ffffff;
  }
  
  .btn-home .btn-signin {
    background-color: #BFEA7C;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
  }
  
  .btn-home .btn-signup {
    border: 2px solid #BFEA7C;
    color: #BFEA7C;
    font-weight: 500;
    border-radius: 0.25rem;
  }

  .btn-signin:hover{
    background-color: #9bbd65;
  color: aliceblue;
  transform: scale(1.05);
  transition: 0.2s;
  }
  .btn-signup:hover{
    background-color: #BFEA7C;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
  transition: 0.2s;
  }
  
  .img-fluid {
    width: 80%;
    height: auto;
  }

  
  @media screen and (min-width: 768px) {
    .home {
      padding: 6rem 4rem;
    }
  
    .home .heading {
      font-size: 3rem;

    }
  
    .home .subheading {
      font-size: 1.25rem;
    }
    .gambar_header{
        width: 100%;
        margin-top: 120px;
    }
  }

  @media screen and (min-width: 1025px) {
    
    .home .heading {
      font-size: 3.5rem;
      
    }
  
    .home .subheading {
      font-size: 1.5rem;
    }
    .gambar_header{
      margin-left: 50px;
      width: 500px;
      margin-top: 400px;
      bottom: 0;
    }
  }

  @media screen and (min-width: 1600px) {

        .img-fluid{
        width: 500px;
        margin-left: 300px;
    }
    }
  
/*Keunggulan*/
.fitur_item{
    margin-bottom: 5px;
}

.contact{
  background-color: #074173;
}

.title_contact {
  color: #BFEA7C;
}

.btn-custom {
  background-color: #BFEA7C;
}

.btn-custom:hover{
  background-color: #9bbd65;
  color: aliceblue;
  transform: scale(1.05);
  transition: 0.2s;
}